* {
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }

  #map {
    height: 100vh;
    width: 100%;
    position: relative;
  }

  nav {
    background: #d75a59;
    height: 45px;
  }

  nav > h1 {
    padding: 0;
    margin: 0;
    color: lightblue;
    font-family: cursive;
  }


  section {
    position: absolute;
    display: flex;
    width: 300px;
    background-color: #C1B5AD;
    z-index: 100;
    height: 100%;

  }

  section > #typeLists {
    background-color: #ceb589;
    left: 61%;
    height: 300px;
    width: inherit;
    padding-left: 20px;
  }

  section > #itinerary {
  position: absolute;
    background-color: #78dd81;
    top: 45%;
    height: 400px;
    width: inherit;
}

#itinerary > div {
  padding-left: 20px;

}

type {
  display: flex;
}

#itinerary > h1 {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  height: 40px;
  background-color: orange;
}

button {
  background-color: red;
  width: 30px;
  height: 20px;
}